
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/img/banner.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/IMG/banner 2.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/img/banner 1.jpg" alt=""></div>

                </div>

                <!-- <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div> -->
                <div class="swiper-pagination"></div>

            </div>